
/simplest_h265_codec/.vs
/simplest_h265_codec/common/x64
/simplest_h265_codec/common/*.user
/simplest_h265_codec/decoder/x64
/simplest_h265_codec/encoder/x64
/simplest_h265_codec/encoder/*.user
/simplest_h265_codec/*.db
/simplest_h265_codec/*.opendb
